<section class="match-game">
  {% if score %}
    <div class="score-overlay">
      <h1>Resultaat: {{ score.right }} van {{ score.total }} goed!</h1>
      <p>Wil je het nog eens proberen?</p>
      <a href="/class/{{ class_id }}" class="restart-button">Opnieuw spelen</a>
    </div>
  {% else %}
    <div class="match-game-info">
      <h1>Match Game</h1>
      <h2>leden van klas {{ class_id }}</h2>
      <p>
        <strong>Instructie:</strong>
        Selecteer voor elke profielfoto de juiste naam uit de dropdown lijst!
      </p>
    </div>
  {% endif %}

  {% if score %}
  {% else %}
    <form method="post" action="/class/{{ class_id }}/check-matches">
      <div class="container">
        <ul class="member-list">
          {% for member in members %}
            <li class="member-picture" id="pic-{{ member.id }}">
              <picture>
                <source srcset="/proxy-image?url={{ member.depiction_url }}" type="image/webp">
                <img
                  src="/proxy-image?url={{ member.depiction_url }}"
                  alt="Profiel van {{ member.profile.resource.title }}"
                  width="100"
                  height="100"
                  loading="lazy">
              </picture>
              <select name="match-{{ member.id }}">
                <option value="">Selecteer naam</option>
                {% for member in members %}
                  <option value="{{ member.id }}">{{ member.profile.resource.title }}</option>
                {% endfor %}
              </select>
            </li>
          {% endfor %}
        </ul>
      </div>
      <button class="submit-button" type="submit">
        <span class="submit-button-text">Controleer matches</span>
        <span class="loader js-loader" style="display: none;"></span>
      </button>
    </form>
  {% endif %}
</section>
<script>
    // Loader tonen en verbergen
  document.addEventListener('DOMContentLoaded', function() {
  const form = document.querySelector('form');
  if (form) {
    form.addEventListener('submit', function(e) {
      e.preventDefault(); // Eerst voorkomen
      const button = this.querySelector('.submit-button');
      const buttonText = button.querySelector('.submit-button-text');
      const loader = button.querySelector('.js-loader');
  
      // Toon loader en verberg tekst
      button.disabled = true;
      if (buttonText) buttonText.style.display = 'none';
      if (loader) loader.style.display = 'inline-block';
      
      // Verberg loader na timeout (voor als het formulier niet doorgaat)
      setTimeout(function() {
        button.disabled = false;
        if (buttonText) buttonText.style.display = 'inline-block';
        if (loader) loader.style.display = 'none';
        form.submit(); // Manuele submit
      }, 500);
    });
  }
  });
</script>
<style>
  /* match-game */
  .match-game {
    max-width: 960px;
    padding: 1em;
    margin: auto;
  }

  /* Score Overlay */
  .score-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 425px) {
    .score-overlay {
      margin-top: 2em;
    }
    .score-overlay h1 {
      font-size: 1.5em;
    }
  }
  .score-overlay p {
    margin-top: 1em;
  }
  .restart-button {
    position: fixed;
    bottom: 10%;
    padding: 12px 32px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    width: fit-content;
    border-radius: 17px;
  }
  .restart-button:hover {
    background-color: #3367d6;
  }
  .restart-button:active {
    transform: scale(0.98);
  }

  @media (min-width: 765px) {
    .restart-button {
      position: inherit;
      margin-top: 2em;
    }
  }

  /* Match Game Info */
  .match-game-info p {
    margin-top: 10px;
  }

  .container {
    margin-top: 2em;
  }

  /* Form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Member List */
  .member-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
  }

  @media (min-width: 765px) {
    .member-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .member-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 1440px) {
    .member-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .member-list li {
    list-style: none;
    color: #263238;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .member-picture img {
    border: 1px solid black;
  }

  select {
    padding: 5px;
    min-width: 150px;
  }

  .submit-button {
    margin-top: 2em;
    font-size: var(--font-size-desktop-s);
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
  }

  .submit-button:hover {
    background-color: #3c8a3e;
  }

  .submit-button:active {
    transform: scale(0.98);
  }

  .submit-button-text {
    font-size: var(--font-size-desktop-m);
  }
</style>