<section class="match-game">
  <h1>Leden van klas {{ class_id }}</h1>

  <ul class="member-list">
    {% for member in members %}
      <li class="member-card" id="{{ member.id }}">
        <picture>
          <source srcset="/proxy-image?url={{ member.depiction_url }}" type="image/webp">
          <img
            src="/proxy-image?url={{ member.depiction_url }}"
            alt="Profiel van {{ member.profile.resource.title }}"
            width="100"
            height="100"
            loading="lazy">
        </picture>
        <p>{{ member.profile.resource.title }}</p>
      </li>
    {% endfor %}
  </ul>
</section>